<footer class="p-5 mt-10">
    <p class="text-darkGrayishBlue text-center text-md">
      Any feedback? Tell me

      <a
        href="https://twitter.com/numulaa_"
        class="underline underline-offset-1"
        >here</a
      >
    </p>
    <div class="text-darkGrayishBlue text-center text-sm">
      Copyright &copy; 2022, dapurNenek.
    </div>
  </footer>
    <script src="/js/script.js"></script> 
</body>
</html>