<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/84ca2580c3.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/main.css" />
    <title>Dapur Nenek</title>
  </head>
  <body>
    <header class="relative container p-5 px-8 mx-auto">
      <nav class="flex justify-between items-center">
        <div>
          <h2 class="font-bold text-2xl">dapurNenek.</h2>
        </div>
        <div class="hidden md:flex space-x-6">
          <a href="/feed" id="feed" class="hover:text-darkGrayishBlue">Home</a>
          <a href="/myRecipe" class="hover:text-darkGrayishBlue">My Recipes</a>
          <a href="/savedRecipe" class="hover:text-darkGrayishBlue"
            >Saved Recipes</a
          >
          <a href="/createRecipeForm" class="hover:text-darkGrayishBlue"
            >Add Recipe</a
          >
        </div>
        <div>
          <a
            href="/logout"
            class="hidden md:flex text-center p-2 px-3 rounded-full bg-brightRed hover:bg-brightRedLight"
            >Logout</a
          >
        </div>

        <!-- hamburger icon -->
        <button
          id="menu-btn"
          class="hamburger block md:hidden focus:outline-none text-baseline"
        >
          <span class="hamburger-top"></span>
          <span class="hamburger-middle"></span>
          <span class="hamburger-bottom"></span>
        </button>
      </nav>
      <!-- mobile menu -->
      <div class="md:hidden sm:block">
        <div
          id="menu"
          class="hidden block flex-col items-center rounded-lg bg-white self-end py-8 mt-10 space-y-6 font-bold sm:w-auto sm:self-center left-6 right-6 drop-shadow-md"
        >
          <a href="/feed" class="hover:text-darkGrayishBlue">Home</a>
          <a href="/myRecipe" class="hover:text-darkGrayishBlue">My Recipes</a>
          <a href="/savedRecipe" class="hover:text-darkGrayishBlue"
            >Saved Recipes</a
          >
          <a href="createRecipeForm" class="hover:text-darkGrayishBlue"
            >Add Recipe</a
          >
          <a href="/logout" class="hover:text-darkGrayishBlue">Logout</a>
        </div>
      </div>
    </header>
  </body>
</html>
